{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .button-red {
        background-color: #ff4d4d;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }

    .button-gray {
        background-color: #d3d3d3;
        color: black;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }

    .button-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    .question-wrapper {
        text-align: center;
        margin-bottom: 20px;
    }

    .question-wrapper h1,
    .question-wrapper h2 {
        margin: 0;
    }

    /* CSS for the container to ensure text stays in one line */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

</style>

<section>
    <div class="page-header section-height-75">
        <div class="container">
            <div class="row">
                <div class="question-wrapper">
                    <h1>Leave this chatroom?</h1>
                    <h2>"{{ chat_group.group_name }}"</h2>
                </div>
                <div class="card-body">
                    <form role="form text-left" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit" class="button-red">Yes, Leave</button>
                        <a class="button-gray" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}