<span id="online-count" hx-swap-oob="outerHTML" class="fade-in-scale" style="font-weight: bold;">

    {{ online_count }}

    <style>
        @keyframes fadeInScale {
            from { opacity: 0; transform: scale(4); }
            to { opacity: 1; transform: scale(1); }
        }
        .fade-in-scale {
            animation: fadeInScale 0.6s ease;
        }
    </style> 
</span>

{% if online_count %}
<div id="online-icon"  class="online-dot" style="background-color: green; "></div>
{% else %}
<div id="online-icon"  class="online-dot" style="background-color: gray; "></div>
{% endif %}


{% for user in users %}
    {% if user in chat_group.users_online.all %}
    <span class="online-status online" id="user--{{ user.id }}"></span>
    {% else %}
    <span class="online-status offline" id="user--{{ user.id }}"></span>
    {% endif %}
{% endfor %} 

