{% extends 'base.html' %}
{% load static %}
{% block title %} Great Chat {% endblock title %}
{% load custom_tags %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    textarea {
        display: block;
        box-sizing: padding-box;
        overflow: hidden;
        padding: 10px;
        width: auto;
        font-size: 14px;
        margin: 50px auto;
        border-radius: 6px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
        border: 0;
    }

    textarea:focus {
        border: none;
        outline: none;
    }

    .fade-out {
        transition: opacity 0.5s ease-in-out; /* Fade-out effect */
        opacity: 0;
    }

    .message-bubble::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: -10px;
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #25D366 #25D366;
        transform: rotate(45deg);
        transform-origin: 0 0;
    }

    #chat_container {
        min-height: 55vh;
        max-height: 55vh; /* Reduced by an additional 20% */
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #ffffff #ece5dd; /* thumb color and track color */
    }

    #chat_container::-webkit-scrollbar {
        width: 12px;
    }

    #chat_container::-webkit-scrollbar-track {
        background: #ece5dd; /* Track color to match background */
    }

    #chat_container::-webkit-scrollbar-thumb {
        background-color: #ffffff; /* Scroll thumb color */
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Glowing effect */
        border: 3px solid #ece5dd; /* Matching the background */
    }

    #chat_container::-webkit-scrollbar-thumb:hover {
        background-color: #FAFDF3; /* Slightly darker on hover */
    }

    .chat-input-container {
        display: flex;
        align-items: center;
        border-radius: 12px;
        overflow: hidden;
        background-color: white;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .chat-input-container input {
        flex-grow: 1;
        border: none;
        padding: 10px;
        border-radius: 12px;
        margin-right: 10px;
        transition: opacity 0.5s ease-in-out; /* For input text fade-out effect */
    }

    .chat-input-container button {
        background-color: #075E54;
        border: none;
        padding: 10px;
        border-radius: 50%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
    }

    .chat-input-container button i {
        font-size: 20px;
    }

    .chat-input-container button:hover {
        background-color: #064C47;
    }

    .new-message {
        display: none; /* Initially hidden */
        opacity: 0; /* Initially invisible */
        transition: opacity 0.5s ease-in-out; /* Fade-in effect */
    }

    .new-message.show {
        display: block; /* Make visible */
        opacity: 1; /* Fully visible */
    }

    ul {
        list-style: none; /* Remove list bullets */
        padding: 0;
        margin: 0;
    }

    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .whatsapp-background {
        height: 100vh;
        background-color: #ece5dd;
        background-image: radial-gradient(circle, rgba(0,0,0,0.1) 1px, transparent 1px);
        background-size: 20px 20px;
    }

    #online-icon {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
    }
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
</style>
{% endblock stylesheets %}
{% block content %}
<div class="container-fluid py-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card mb-4" style="background-color: #ece5dd;">
                {% comment %} group chat {% endcomment %}
                {% if chat_group.group_name and not chat_group.is_private and not chat_group.is_public %}
                <div class="row-cols-1 text-center rounded-3" style="background-color: #ece5dd; color: white;">
                    <a href="{% url 'group_chat_members' group_name=chat_group.group_name %}">
                        <img id="profile-photo" src="{{ chat_group.group_photo.url }}" class="rounded-circle mb-3" alt="Group Photo" width="50" height="50">
                        {{ chat_group.group_name }}
                    </a>
                    <span id="online" style="margin-left: 2px; font-weight: bold;"></span>
                </div>
                {% endif %}
                <div class="row-cols-1 text-center rounded-3" style="background-color: #ece5dd; color: white;">
                    <div style="display: flex; align-items: center; justify-content: center;">
                        {% comment %} private chat {% endcomment %}
                        {% if other_user %}
                            <div id="online-icon" style="background-color: gray;"></div>
                            <a href="{% url 'profile' %}?email_id={{ other_user.email }}">
                            <img id="profile-photo" src="{{ other_user.profile_photo.url }}" class="rounded-circle mb-3" alt="Profile Photo" width="50" height="50">
                            </a>
                            <span id="other_user_name" style="margin-left: 2px; font-weight: bold; font-size:smaller">{{other_user.name}}</span>
                            <span id="other_user_username" style="margin-left: 2px; font-size: smaller;">@{{other_user.username}}</span>
                        {% comment %} public chat {% endcomment %}
                        {% else %}
                            <a href="{% url 'chat' %}" style="margin: 5px">
                                {{ chat_group.group_name }}
                            </a>
                            <div id="online-icon" style="background-color: gray;"></div>
                            <span id="online-count" class="fade-in-scale" style="font-weight: bold;"></span>
                            <span id="online" style="margin-left: 2px; font-weight: bold;">Online</span>
                        {% endif %}
                    </div>
                </div>
                <div id='chat_container' class="overflow-y-auto grow whatsapp-background">
                    <ul id='chat_messages' class="flex flex-col justify-end gap-2 p-4">
                    {% for message in chat_messages reversed %}
                    {% include 'chats/chat_message.html' %}
                    {% endfor %}
                    </ul>
                </div>
                <div class="row-cols-1 rounded-3">
                    <form id="chat_message_form" method="POST" action="{% url 'home' %}" class="chat-input-container" 
                        hx-ext="ws"
                        ws-connect="/ws/chatroom/{{ chatroom_name }}"
                        ws-send
                        _="on htmx:wsAfter reset() me">
                        {% csrf_token %}
                        <input type="text" name="body" placeholder="Add a message ..." class="form-control" maxlength="300" autofocus="True" required="" id="id_body" aria-label="Message input">
                        <!-- File Upload Button -->
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#fileUploadModal" aria-label="Upload file">
                            <i class="fa fa-paperclip" aria-hidden="true"></i>
                        </button>
                        <button type="submit" class="send-button" aria-label="Send message">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </button>
                    </form>
                    <form id="chat_file_form" enctype="multipart/form-data"
                        hx-post="{% url 'chat-file-upload' chat_group.group_name %}"
                        hx-target="#chat_messages"
                        hx-swap="beforeend"
                        _="on htmx:beforeRequest reset() me">
                        {% csrf_token %}
                        <input type="file" name="file" id="id_file" aria-label="File input">
                        <button type="submit" class="send-button" aria-label="Upload file">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>  
                {% if chat_group.group_name and not chat_group.is_private and request.user != chat_group.admin and not chat_group.is_public %}
                <div class="row-cols-1 rounded-3">
                    <button id="leave_button" class="btn btn-social bg-gradient-faded-danger" style="margin-top: 10px" value={{chat_group.group_name}}>
                        <span style="margin-right: 10px"></span> Leave
                    </button>
                </div>  
                {% endif %}
            </div>
        </div>
    </div>
</div>


<!-- Leave Group Chat Modal -->
<div class="modal fade" id="leave-Modal" tabindex="-1" aria-labelledby="leave-ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-gradient">
            <div class="modal-header bg-gradient-dark">
                <h5 class="modal-title text-white" id="leave-ModalLabel">Are you sure you want to leave this group?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center text-black-50">
                This action cannot be undone.
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="confirm_leave_button">Submit</button>
                <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- File Upload Modal -->
<div class="modal fade" id="fileUploadModal" tabindex="-1" aria-labelledby="fileUploadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="fileUploadModalLabel">Upload File</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="chat_file_form" enctype="multipart/form-data"
                hx-post="{% url 'chat-file-upload' chat_group.group_name %}"
                hx-target="#chat_messages"
                hx-swap="beforeend"
                _="on htmx:beforeRequest reset() me">
            {% csrf_token %}
            <input type="file" name="file" id="id_file" aria-label="File input" class="form-control mb-3">
            <button type="submit" id="upload button" class="btn btn-primary">Upload</button>
          </form>
        </div>
      </div>
    </div>
</div>

<!-- Alert Modal -->
<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-gradient">
            <div class="modal-header bg-gradient-info">
                <h5 class="modal-title text-white" id="alertModalLabel">Alert</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div class="alert alert-danger text-white font-weight-bold" role="alert" id="alert_modal_text">
                    Random alert Message
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a href="{% url 'group_chat_home' %}">
                <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal" id="alert_close_button">Close</button>
                <a>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    // Function to scroll to the bottom of the chat container
    function scrollToBottom() {
        var chatContainer = document.getElementById('chat_container');
        chatContainer.scrollTop = chatContainer.scrollHeight;
    }

    // Scroll to bottom on page load
    document.addEventListener('DOMContentLoaded', function() {
        scrollToBottom();
    });

    // Function to fade out the input message
    function fadeOutMessage(inputElement) {
        inputElement.classList.add('fade-out');
        setTimeout(function() {
            inputElement.value = '';
            inputElement.classList.remove('fade-out');
        }, 500); // Duration of the fade-out effect
    }

    // Scroll to bottom when a new message is sent and fade out the input message
    document.getElementById('chat_message_form').addEventListener('submit', function(event) {
        var inputElement = document.getElementById('id_body');
        fadeOutMessage(inputElement);
        setTimeout(scrollToBottom, 100); // Adjust the timeout if needed
    });

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (settings.type == 'POST' || settings.type == 'PUT' || settings.type == 'DELETE') {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        }
    });

    $(document).on("click", "#leave_button", function() {
        $("#leave-Modal").modal('show');
    });

    $(document).on("click", "#confirm_leave_button", function() {
        var group_name = document.getElementById('leave_button').value;
        $.ajax({
            type: 'POST',
            url: "{% url 'leave-group-chat' 'GROUP_NAME_PLACEHOLDER' %}".replace('GROUP_NAME_PLACEHOLDER', group_name),
            data: {},
            dataType: 'json',
            success: function(data) {
                $('#alert_modal_text').text(data.message)
                $("#alertModal").modal('show');
            },
            error: function(data){
                $('#alert_modal_text').text(data.message)
                $("#alertModal").modal('show');
            }
        });
    });

    // File upload form submission
    $('#chat_file_form').on('submit', function(e) {
        e.preventDefault();

        var formData = new FormData(this);

        $.ajax({
            type: 'POST',
            url: "{% url 'chat-file-upload' chat_group.group_name %}",
            data: formData,
            processData: false,
            contentType: false,
            success: function(data) {
                $('#fileUploadModal').modal('hide');
                $('#alert_modal_text').text(data.message);
                $("#alertModal").modal('show');
            },
            error: function(data) {
                $('#fileUploadModal').modal('hide');
                $('#alert_modal_text').text(data.message);
                $("#alertModal").modal('show');
            }
        });
    });
</script>
{% endblock javascripts %}

